---

---

<footer>
	<div class="bg-neutral-950">
		<p>last modified 07 / 06 / 1995</p>
		<p>
			built with <a href="https://astro.build/">astro</a> & <a
				href="https://tailwindcss.com/">tailwind</a>
		</p>
	</div>
</footer>
