---

---

<footer>
	<div class="mt-8 border-t border-neutral-ui bg-neutral-dark px-4 py-2">
		<div class="flex flex-col justify-between lg:flex-row">
			<p>webmaster@crwdzr.io</p>
			<p>last modified 07 / 06 / 1995</p>
			<p>
				built with <a href="https://astro.build/">astro</a> & <a
					href="https://tailwindcss.com/">tailwind</a
				>
			</p>
		</div>
	</div>
</footer>
