---
import QuoteOfTheDay from './QuoteOfTheDay.astro'

const buttonId = Math.random().toString(36)
---

<header
	class="space-y-0 border-b border-dashed border-neutral-400 bg-neutral-950"
>
	<nav class="max-w-[100vw] overflow-x-auto">
		<div class="flex w-[900px] flex-row">
			<a href="/">home</a>
			<a href="/blog">blog</a>
			<a href="/contact">contact</a>
			<a href="/sitemap">sitemap</a>
			<button id={buttonId}>wtf</button>
		</div>
	</nav>
	<div class="border-l border-r border-dotted border-neutral-400">
		<QuoteOfTheDay />
	</div>
</header>

<script define:vars={{ buttonId }}>
	const button = document.getElementById(buttonId)
	button.addEventListener('click', function () {
		window.alert('what?')
	})
</script>

<style>
	nav button,
	nav a {
		@apply grow cursor-pointer border border-r-0  border-neutral-400 bg-neutral-300 px-4 py-2 text-center text-2xl font-extrabold uppercase text-black no-underline;
		@apply first:border-l-0 last:border-r-0;
		@apply hover:border-solid hover:bg-neutral-400 hover:text-white;
		@apply active:bg-neutral-500;
	}
	nav {
		scrollbar-width: none; /* Firefox */
	}
	nav::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}
</style>
