---
import EmojiList from '../EmojiList.astro'
import ViewMore from '../ViewMore.astro'
---

<EmojiList emoji="ðŸ—žï¸">
	<li class="line-clamp-1">
		<a href="/news/1" class="inline text-ellipsis">Lorem ipsum, dolor sit</a>
	</li>
	<li class="line-clamp-1">
		<a href="/news/2" class="inline text-ellipsis"
			>Dolore, quasi minus! Perferendis</a
		>
	</li>
	<li class="line-clamp-1">
		<a href="/news/3" class="inline text-ellipsis"
			>Quam magni nisi error culpa quasi</a
		>
	</li>
	<li class="line-clamp-1">
		<a href="/news/4" class="inline text-ellipsis"
			>Aspernatur illo similique cumque</a
		>
	</li>
</EmojiList>

<ViewMore urlbase="/news" rss json text="view 4 more" />
