---
import EmojiList from '../EmojiList.astro'
---

<EmojiList emoji="🔧">
	<li><a href="/" class="inline text-ellipsis">2024 01 01</a></li>
	<li><a href="/" class="inline text-ellipsis">2023 12 31</a></li>
	<li><a href="/" class="inline text-ellipsis">2023 12 30</a></li>
</EmojiList>
