---

---

<p>I have been building full-stack web apps since 2012 🚀</p>
<ul>
	<li>- Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
	<li>- Quos rerum animi eum voluptatibus assumenda cumque illum</li>
	<li>- Ullam mollitia esse facilis maiores perferendis cum nemo nulla</li>
	<li>- Iusto omnis labore odio illum possimus vel</li>
	<li>- Aut facilis impedit pariatur velit, minima</li>
	<li>- Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
	<li>- Quos rerum animi eum voluptatibus assumenda cumque illum</li>
	<li>- Ullam mollitia esse facilis maiores</li>
	<li>- Iusto omnis labore odio illum possimus vel</li>
	<li>- Aut facilis impedit pariatur velit, minima itaque</li>
</ul>
<p>
	I love strategy, FPS and roleplaying games. I've dedicated a huge portion of
	my life to honing my skills, whether it be getting better at my favorite games
	like Overwatch, or refining my technical skills.
</p>
