---
import EmojiList from '../EmojiList.astro'

const links: [string, string, Date][] = [
	['Lorem ipsum dolor sit', '/blog/lorem', new Date()],
	['Incidunt, iure. Dolor obcaecati', '/blog/lorem', new Date()],
	['Asperiores cum voluptatem, doloremque', '/blog/lorem', new Date()],
	[
		'Consequatur neque aliquam esse et amet. This one is super duper extra long! asdfpasdjfna aspdfjna spdaf asdf ajsondfp',
		'/blog/lorem',
		new Date(),
	],
	['Voluptatum dicta esse nesciunt', '/blog/lorem', new Date()],
	['Omnis nihil minus nam in sunt', '/blog/lorem', new Date()],
	['Officiis fugiat iure illo', '/blog/lorem', new Date()],
	['Facilis in ratione blanditiis', '/blog/lorem', new Date()],
]
---

<div class="space-y-4">
	<EmojiList emoji="✏️">
		{
			links.map(([text, link, date]) => (
				<li>
					<a class="inline" href={link}>
						{text}
					</a>
					<span class="inline text-neutral-400">
						{' @ '}
						{date.toLocaleString()}
					</span>
				</li>
			))
		}
	</EmojiList>

	<div class="flex flex-row justify-between">
		<a href="/blog">view more</a>
		<span>
			<a href="/rss" class="text-green-500">rss</a>
			{' • '}
			<a href="/json" class="text-yellow-500">json</a>
		</span>
	</div>
</div>
