---
import EmojiList from '../EmojiList.astro'
import ViewMore from '../ViewMore.astro'

const links: [string, string, Date][] = [
	['Lorem ipsum dolor sit', '/blog/lorem', new Date()],
	['Incidunt, iure. Dolor obcaecati', '/blog/lorem', new Date()],
	['Asperiores cum voluptatem, doloremque', '/blog/lorem', new Date()],
	['Consequatur neque aliquam esse et amet.', '/blog/lorem', new Date()],
	['Voluptatum dicta esse nesciunt', '/blog/lorem', new Date()],
	['Omnis nihil minus nam in sunt', '/blog/lorem', new Date()],
	['Officiis fugiat iure illo', '/blog/lorem', new Date()],
	['Facilis in ratione blanditiis', '/blog/lorem', new Date()],
]
---

<div class="space-y-4">
	<EmojiList emoji="✏️">
		{
			links.map(([text, link, date]) => (
				<li>
					<a class="mr-1 inline" href={link}>
						{text.trim()}
					</a>
					<span class="inline font-mono text-sm text-neutral-ui-highlight">
						[{date.toLocaleString()}]
					</span>
				</li>
			))
		}
	</EmojiList>

	<ViewMore urlbase="/blog" rss json text="view 14 more" />
</div>
