---
import Layout from '@/layouts/Layout.astro';
import Editor from '@/components/react/tools/goh-editor';
---

<Layout title="Gates of Hell" footer={false}>
    <div class="mx-auto max-w-4xl px-2 py-8 lg:px-0">
        <div class="mb-8">
            <h1 class="text-4xl">Gates of Hell Editor</h1>
            <hr />
        </div>
		<Editor client:load />
    </div>
</Layout>

<style is:global>
    * {
        @apply font-thin;
    }
</style>