---
import Layout from '@/layouts/Layout.astro';
import Editor from '@/components/react/tools/goh-editor';
---

<Layout title="Gates of Hell" footer={false}>
	<div class="mx-auto mb-16 max-w-4xl p-4 lg:mt-16">
		<a href="/tools">go back</a>
		<div class="mt-8">
			<Editor client:load />
		</div>
	</div>
</Layout>
