---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="tools 🛠">
	<div class="mx-auto mb-16 max-w-4xl p-4 lg:mt-16">
		<h1 class="text-4xl">tools and utilities</h1>

		<ul class="mt-8">
			<li>wip</li>
			<li>wip</li>
			<li>wip</li>
			<li>wip</li>
		</ul>
	</div>
</Layout>
