---
import Layout from '@/layouts/Layout.astro';
import Xhr from '@/components/react/tools/xhr'
---

<Layout title="Network Request Tool" footer={false}>
    <div class="mx-auto max-w-4xl px-2 py-8 lg:px-0">
        <div class="mb-8">
            <h1 class="text-4xl">network requests</h1>
            <hr />
        </div>
        <Xhr client:load client:only />
    </div>
</Layout>

<style is:global>
    * {
        @apply font-thin;
    }
</style>