body {
	background: theme(colors.gray.950);
	color: theme(colors.gray.300);
	font-family: Open Sans;
	font-size: 16px;
}

pre {
	font-family: monospace;
	white-space: pre-wrap;
}

strong {
	font-weight: bold;
}

a {
	display: inline-block;
	color: theme(colors.green.500);
	text-decoration: dotted underline;
	text-underline-offset: 3px;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	background: theme(colors.green.500);
	color: theme(colors.gray.950);
}

h1,
h2,
h3 {
	color: theme(colors.gray.100);
}

/* replace list styling */
ul {
	list-style-type: none;
}
li:before {
	@apply text-gray-400 mr-4;
	content: '\f054'; /* unicode for chevron symbol */
	font-family: FontAwesome; /* font that contains the chevron symbol */
	font-size: 0.65rem;
}

*::selection {
	background: theme(colors.gray.300);
	color: theme(colors.gray.950);
}
a::selection {
	color: theme(colors.green.500);
}

/** Animate the scanline */
@keyframes scanline {
	0% {
		bottom: 100%;
	}
	40% {
		bottom: 100%;
	}
	100% {
		bottom: 0%;
	}
}

/** Animate the bezel jitter */
@keyframes bezel {
	0% {
		box-shadow: inset 1px 1px 100px black;
	}
	30% {
		box-shadow: inset 1px 1px 130px black;
	}
	60% {
		box-shadow: inset 1px 1px 100px black;
	}
}
