---
/**
	do not include this one on the page directly
	this one is exclusively for rendering the partial
 */
import HotLoader from './HotLoader.astro'
---

<HotLoader interval="30s">
	<div class="mt-2">
		<p>Nothing at the moment.</p>
		<p>Check back later!</p>
	</div>
</HotLoader>
