---
import { getCollection } from 'astro:content'
import Card from '@/components/Card.astro'
import Structured from '@/layouts/Structured.astro'

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog')
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Structured title={`âœ ${entry.data.title}`}>
	<Card padding="p-4 px-6">
		<div class="space-y-4">
			<Content />
			<div class="flex flex-row gap-2">
				<a href="/blog">all posts</a>
				<a href="/blog/tags">all tags</a>
			</div>
		</div>
	</Card>
</Structured>
