---
import clsx from 'clsx';

export interface Props {
	classes?: string;
	fancy?: boolean;
}

const { classes = '', fancy = false } = Astro.props;
---

<div
	class={clsx('card', classes, {
		'card-fancy': fancy,
	})}
>
	<slot />
</div>

<style is:global>
	/**
	 * applies styling to all card elements on the page,
	 * incl. the react versions
	 */
	.card {
		@apply rounded border p-4 transition-colors duration-200 ease-in-out;

		border-color: transparent;
		border-left-color: theme(colors.neutral.700);

		background: linear-gradient(
			165deg,
			theme(colors.neutral.800) 0%,
			theme(colors.neutral.900) 50%,
			theme(colors.neutral.900) 100%
		);
	}

	/** make certain cards stand out a bit */
	.card-fancy {
		background: linear-gradient(
			165deg,
			theme(colors.neutral.700) 0%,
			theme(colors.neutral.800) 25%,
			theme(colors.neutral.900) 80%
		);
	}

	/** make the rest stand out on hover */
	.card:hover {
		background: linear-gradient(
			165deg,
			theme(colors.neutral.700) 0%,
			theme(colors.neutral.800) 50%,
			theme(colors.neutral.900) 100%
		);
	}
</style>
