---
import Nav from '@/components/react/Nav.jsx';
---

<nav class="relative border-b border-neutral-700 p-6">
	<div class="mx-auto max-w-6xl">
		<div class="flex flex-row gap-2">
			<h1 class="self-center">
				<a href="/" style="text-decoration:none">crowdozer</a>
			</h1>
			<div class="grow"></div>
			<Nav client:load />
		</div>
	</div>
</nav>
