---
import Container from '@/components/astro/Container.astro';
---

<div class="p-6 border-neutral-700 border-b">
	<Container>
		<div class="flex flex-row gap-2">
			<h1 class="self-center">
				<a href="/" style="text-decoration:none"> // crwdzr</a>
			</h1>

			<div class="grow"></div>
			<a href="/games" class="self-center ml-2 text-sm">[ arcade ]</a>
			<a href="/hire-me" class="self-center ml-2 text-sm">[ hire me ]</a>
			<a href="/contact" class="self-center ml-2 text-sm">[ contact ]</a>
		</div>
	</Container>
</div>
