---
import { Icon } from 'astro-icon';
---

<div class="flex flex-row flex-wrap gap-2">
	<a
		href="https://www.x.com/crowdoze"
		target="_blank"
		rel="noopener noreferrer"
		class="self-center"
		title="Twitter"
	>
		<Icon name="mdi:twitter" width="2rem" />
	</a>
	<a
		href="https://www.twitch.tv/crowdozer"
		target="_blank"
		rel="noopener noreferrer"
		class="self-center"
		title="Twitch"
	>
		<Icon name="mdi:twitch" width="2rem" />
	</a>
	<a
		href="https://discord.com/users/crowdozer"
		target="_blank"
		rel="noopener noreferrer"
		class="self-center"
		title="Discord"
	>
		<Icon name="mdi:discord" width="2rem" />
	</a>
</div>
