---
import { Icon } from 'astro-icon';
---

<div class="flex flex-row gap-2 flex-wrap">
	<a
		href="https://www.x.com/crowdoze"
		target="_blank"
		rel="noopener noreferrer"
		class="self-center"
	>
		<Icon name="carbon:logo-twitter" width="2rem" />
	</a>
	<a
		href="https://discord.com/users/crowdozer"
		target="_blank"
		rel="noopener noreferrer"
		class="self-center"
	>
		<Icon name="carbon:logo-discord" width="2rem" />
	</a>
</div>
