---
import { Badge } from '@/components/shadcn/ui/badge.tsx';
---

<h2 class="mt-8">Languages</h2>
<div class="mt-2 mb-4">
	<div class="flex flex-row flex-wrap gap-2">
		<Badge chipcolor="red">Shell/Bash</Badge>
		<Badge chipcolor="red">PHP</Badge>
		<Badge chipcolor="red">Javascript</Badge>
		<Badge chipcolor="red">Typescript</Badge>
		<Badge chipcolor="red">NodeJS</Badge>
		<Badge chipcolor="red">Lua</Badge>
	</div>
</div>

<h2 class="mt-8">Frameworks & Libraries</h2>
<div class="mt-2 mb-4">
	<div class="flex flex-row flex-wrap gap-2">
		<Badge chipcolor="red">Express</Badge>
		<Badge chipcolor="red">React</Badge>
		<Badge chipcolor="red">Astro</Badge>
		<Badge chipcolor="red">Svelte</Badge>
		<Badge chipcolor="red">Tailwind</Badge>
	</div>
</div>

<h2 class="mt-8">DB & Hosting</h2>
<div class="mt-2 mb-4">
	<div class="flex flex-row flex-wrap gap-2">
		<Badge chipcolor="red">MySQL</Badge>
		<Badge chipcolor="red">Firebase</Badge>
		<Badge chipcolor="red">GCP</Badge>
		<Badge chipcolor="red">AWS</Badge>
		<Badge chipcolor="red">Vercel</Badge>
		<Badge chipcolor="red">DigitalOcean</Badge>
	</div>
</div>
