---
import { TechSVG } from '@/components/react/portfolio/TechSVG';
---

<h2 class="mt-8">Languages</h2>
<div class="mb-4 mt-2">
	<div class="flex flex-row flex-wrap">
		<TechSVG
			client:idle
			title="Shell/Bash"
			path="/icons/bash-icon-svgrepo-com.svg"
			invert={false}
		/>
		<TechSVG client:idle title="PHP" path="/icons/php02-svgrepo-com.svg" />
		<TechSVG
			client:idle
			title="Javascript"
			path="/icons/javascript-155-svgrepo-com.svg"
		/>
		<TechSVG
			client:idle
			title="Typescript"
			path="/icons/typescript-svgrepo-com.svg"
		/>
		<TechSVG client:idle title="NodeJS" path="/icons/nodejs-svgrepo-com.svg" />
		<TechSVG client:idle title="Lua" path="/icons/lua-16-svgrepo-com.svg" />
	</div>
</div>

<h2 class="mt-8">Frameworks & Libraries</h2>
<div class="mb-4 mt-2">
	<div class="flex flex-row flex-wrap">
		<TechSVG
			client:idle
			title="Express"
			path="/icons/express-svgrepo-com.svg"
		/>
		<TechSVG client:idle title="React" path="/icons/react-svgrepo-com.svg" />
		<TechSVG
			client:idle
			title="Astro"
			path="/icons/astro-svgrepo-com.svg"
			revert
			colorize
		/>
		<TechSVG
			client:idle
			title="Svelte"
			path="/icons/svelte-16-svgrepo-com.svg"
		/>
		<TechSVG
			client:idle
			title="Tailwind"
			path="/icons/tailwind-css-svgrepo-com.svg"
		/>
	</div>
</div>

<h2 class="mt-8">DB & Hosting</h2>
<div class="mb-4 mt-2">
	<div class="flex flex-row flex-wrap">
		<TechSVG client:idle title="MySQL" path="/icons/mysql-svgrepo-com.svg" />
		<TechSVG
			client:idle
			title="Firebase"
			path="/icons/firebase-svgrepo-com.svg"
		/>
		<TechSVG
			client:idle
			title="GCP"
			path="/icons/gcp-svgrepo-com.svg"
			revert
			colorize
		/>
		<TechSVG client:idle title="AWS" path="/icons/aws-svgrepo-com.svg" />
		<TechSVG
			client:idle
			title="Vercel"
			path="/icons/vercel-fill-svgrepo-com.svg"
		/>
		<TechSVG
			client:idle
			title="DigitalOcean"
			path="/icons/digitalocean-svgrepo-com.svg"
		/>
	</div>
</div>
