@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * shadcn presets
 */
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 346.8 77.2% 49.8%;
		--radius: 0rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 346.8 77.2% 49.8%;
	}
}

:root {
	color-scheme: dark;
}

/**
 * Basic markup styling
 */

*::selection {
	@apply bg-fuchsia-500/30 text-neutral-100;
}

html,
body {
	@apply bg-neutral-900 text-neutral-100;
}

/* Font cursor override */
h1,
h2,
h3,
h4,
h5,
p,
span,
li,
ol {
	@apply cursor-default;
}

/* Heading styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
	font-family: Helvetica, sans-serif;
}

h1 {
	@apply font-extrabold tracking-tighter;
}

h2 {
	@apply font-extrabold tracking-tight;
}

/* Dividers */
hr {
	@apply border-zinc-700;
}

/* Links */
a {
	@apply inline-block font-bold text-fuchsia-500 transition-colors duration-100 ease-in-out hover:text-fuchsia-200;
}
a * {
	cursor: pointer;
}

/* Lists */
ul > li {
	@apply ml-8 list-disc pr-4;
}

/* Nav menu */
#sitemap ul > li {
	@apply ml-0 list-none pr-0;
}

#sitemap a {
	color: inherit;
	font-weight: inherit;
}

#sitemap a:hover {
	color: inherit;
}

/**
 * Additional styling/utility classes
 */

.vignette {
	position: relative;
	overflow: hidden;
}

.vignette::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: radial-gradient(
		circle at center,
		transparent,
		theme(colors.zinc.950)
	);
	opacity: 1;
	pointer-events: none; /* This allows clicks to go through this overlay */
}
