@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html,
body {
	@apply bg-black font-mono text-white;
	font-size: 14px;
}
:root {
	color-scheme: dark;
}
*::selection {
	@apply bg-fuchsia-500/30 text-neutral-100;
}

/* Links */
a {
	@apply inline-block underline transition-colors duration-100 ease-in-out hover:text-orange-500;
}
a * {
	cursor: pointer;
}

/* Heading styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
}
h1 {
	@apply text-6xl font-extrabold tracking-tighter;
}
h2 {
	@apply text-5xl font-extrabold tracking-tight;
}
h3 {
	@apply text-4xl;
}
h4 {
	@apply text-3xl;
}
h5 {
	@apply text-2xl;
}
h6 {
	@apply text-xl;
}
/* Dividers */
hr {
	@apply border-neutral-300;
}

/* Flexbox fix */
* {
	min-width: 0;
}
