@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

/* Base styles */
html,
body {
	@apply bg-black text-white;
	font-size: 12px;
	font-family: system-ui, sans-serif;
}

/* Flexbox fix */
* {
	min-width: 0;
	box-sizing: border-box;
}

@layer components {
	.input {
		/* base styles */
		@apply border border-neutral-ui-highlight bg-neutral-dark px-4 py-2;
		/* hover state */
		@apply hover:border-hover-intent hover:bg-neutral-light-hover;
		/* focus state (user press) */
		@apply focus:bg-neutral-dark-highlight;
	}

	.button {
		/* base styles */
		@apply border border-neutral-ui-highlight bg-neutral-dark px-4 py-2;
		/* hover state */
		@apply hover:border-hover-intent hover:bg-neutral-light-hover;
		/* focus state */
		@apply focus:bg-neutral-dark-highlight;
		/* active state (user press) */
		@apply active:bg-neutral-dark-highlight;
	}

	.button-micro {
		/* base styles */
		@apply rounded bg-neutral-dark px-2;
		/* hover state */
		@apply hover:bg-neutral-light-hover;
		/* active state (user press) */
		@apply active:bg-neutral-dark-highlight;
	}

	/* Links */
	a {
		/* base styles */
		@apply inline-block underline underline-offset-2;
		/* visited links */
		@apply visited:text-link-visited;
		/* various user intents */
		@apply hover:text-link focus:text-link;
		/* active state (user press) */
		@apply active:text-link-active;
	}
	a * {
		cursor: pointer;
	}

	/* Heading styling */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold text-white;
	}
	h1 {
		@apply text-6xl font-extrabold tracking-tighter;
	}
	h2 {
		@apply text-5xl font-extrabold tracking-tight;
	}
	h3 {
		@apply text-4xl;
	}
	h4 {
		@apply text-3xl;
	}
	h5 {
		@apply text-2xl;
	}
	h6 {
		@apply text-xl;
	}

	/* Dividers */
	hr {
		@apply border-neutral-300;
	}
}
