<!-- 
    this is what needs to be included in the page layout. 
    it defers loading of the spotify component to improve
    performance (initial page load doesnt depend on widget)

	intersect once prevents this from firing until it enters
	the viewport. i.e when a mobile user opens sidebar
 -->
<div
	class="min-h-[68px]"
	hx-get="/partials/spotify"
	hx-trigger="intersect once"
	hx-swap="innerHTML"
>
	<div class="htmx-indicator glimmer h-[68px] w-full"></div>
</div>
