---
/**
	do not include this one on the page, use the deferred loader.
	this one is meant to keep the front end hot once it loads

	using itersect prevents this from refreshing when it's hidden, 
	i.e on mobile in a sidebar. when the sidebar is opened, it automatically
	begins working again.
 */

interface Props {
	// how often to fire the request i.e "1s"
	interval: string
}

const { interval } = Astro.props
---

<div
	hx-get="/partials/spotify"
	hx-trigger={`intersect delay:${interval}`}
	hx-swap="morph:outerHTML"
>
	<slot />
</div>
