---
import BasicLayout from '@/layouts/Basic/index.astro'
import '@/layouts/General/styles.css'
---

<BasicLayout title="lost in space">
	<div class="flex h-full flex-col justify-center">
		<div class="mx-auto mb-[10vh] max-w-sm space-y-8">
			<div class="border-l border-t border-neutral-300 p-4">
				<h1>404</h1>
				<p>not found</p>
			</div>
			<a
				href="/"
				class="w-full p-8 text-center no-underline visited:text-[unset]"
				>go back</a
			>
		</div>
	</div>
</BasicLayout>
