---
import Layout from '../layouts/Layout.astro';
import Socials from '@/components/astro/Socials.astro';
---

<Layout title="contact" footer={false}>
	<div class="mx-auto mb-16 max-w-xl p-4 md:mt-16">
		<h2 class="mb-4 text-xl">Business Offers</h2>
		<p>If you want to work together, shoot an email to:</p>
		<div class="my-4 bg-neutral-800 p-4 px-8">
			<p class="font-bold">business@crwdzr.io</p>
		</div>

		<h2 class="mb-4 mt-16 text-xl">Socials</h2>
		<Socials />
	</div>
</Layout>
