---
import Layout from '../layouts/Layout.astro';
import Container from '@/components/astro/Container.astro';
import Socials from '@/components/astro/Socials.astro';
---

<Layout title="contact" footer={false}>
	<div class="mx-auto max-w-xl my-4 md:my-32">
		<h2 class="text-xl mb-4">Business Offers</h2>
		<p>If you want to work together, shoot an email to:</p>
		<p class="text-blue-500 font-bold">business@crwdzr.io</p>

		<h2 class="text-xl mb-4 mt-16">Socials</h2>
		<Socials />
	</div>
</Layout>
