---
import Layout from '../layouts/Layout.astro';
import Container from '@/components/astro/Container.astro';
import Socials from '@/components/astro/Socials.astro';
---

<Layout title="contact">
	<div class="lg:mt-32 p-4">
		<Container>
			<div class="flex flex-col lg:flex-row gap-16 bg-neutral-950">
				<!-- Left Column -->
				<div class="overflow-hidden flex-shrink-0 md:w-[360px] w-full">
					<div class="flex flex-col top-0">
						<h1 class="text-5xl">Contact Me</h1>
					</div>
				</div>

				<!-- Right Column -->
				<div class="grow overflow-hidden">
					<h1 class="text-xl mb-4">Business Offers</h1>
					<p>If you want to work together, shoot an email to:</p>
					<p class="text-blue-500 font-bold">business@crwdzr.io</p>

					<h1 class="text-xl mb-4 mt-16">Socials</h1>
					<Socials />
				</div>
			</div>
		</Container>
	</div>
</Layout>
