---
import Layout from '../layouts/Layout.astro';
import Container from '@/components/astro/Container.astro';
---

<Layout title="yo 👋">
	<div class="lg:mt-32 p-4">
		<Container>
			<p class="text-center">who let you in here</p>
		</Container>
	</div>
</Layout>
