---
import Layout from '@/layouts/Layout.astro'
import Icon from 'astro-icon'
import Nav from '@/components/react/Nav.tsx'
import FancyChars from '@/components/astro/FancyChars.astro'
---

<Layout title="hey 👋" header={false}>
	<div id="splash" class="min-h-screen w-screen bg-neutral-950 text-neutral-50">
		<!-- container for splash screen, 100%x100% -->
		<div class="relative min-h-screen">
			<!-- splash navbar -->
			<div class="mx-auto max-w-5xl p-4">
				<div class="flex flex-row gap-4">
					<h1 class="self-center !text-lg">
						<a href="/"> crwdzr.io</a>
					</h1>
					<div class="grow"></div>
					<div class="hidden flex-row gap-8 lg:flex">
						<a class="self-center" href="/contact">contact</a>
					</div>
					<Nav
						client:load
						classes="bg-neutral-950 hover:bg-neutral-900 font-bold"
					/>
				</div>
			</div>

			<!-- hero section -->
			<div class="mx-auto mt-16 max-w-md text-center md:mt-32 xl:mt-64">
				<h1 class="!text-4xl font-extrabold tracking-tighter md:!text-6xl">
					<FancyChars text="what" />
					<span class="text-green-500">'</span>
					<FancyChars text="s up" />
					<span class="text-green-500">?</span>
				</h1>

				<div class="mt-8 text-base md:text-xl">
					<p>
						I build <span
							class="whitespace-break-spaces border-b-2 border-dotted border-green-500"
							>web apps</span
						>, full stack
					</p>
					<p>Let's bring your designs to production</p>
				</div>

				<!-- it doesnt make much sense to distract people away from the splash flow -->
				<!-- maybe i change my mind so i'll leave this -->
				<div class="mt-16">
					<a href="/contact" class="button button-dark p-4 px-8">
						<div class="flex flex-row gap-2">
							<Icon name="carbon:email" width="1.15rem" />
							 contact me
						</div>
					</a>
				</div>
			</div>

			<!-- scroll indicator and divider -->
			<div class="absolute bottom-16 left-0 right-0 xl:bottom-32">
				<hr />

				<!-- scroll indicator/button -->
				<div
					class="absolute left-0 right-0 top-full z-10 -mt-[20px] text-center"
				>
					<a
						id="btn-scroll"
						href="/#scroll-target"
						class="button button-dark border border-transparent p-3 hover:border-neutral-700"
						title="read more"
					>
						<Icon name="mdi:triangle" width="1.15rem" class="rotate-180" />
					</a>
				</div>
			</div>
		</div>

		<!-- services -->
		<div class="bg-neutral-950 pt-32 lg:pb-32 lg:pt-48" id="scroll-target">
			<div class="mx-auto max-w-5xl lg:block lg:space-y-48 lg:py-0">
				<!-- design -->
				<div class="relative lg:min-h-[720px]">
					<!-- "DESIGN DESIGN DESIGN" text, hidden on mobile -->
					<div
						class="hidden select-none text-center text-6xl font-extrabold tracking-tighter text-neutral-800 lg:block"
					>
						DESIGN DESIGN DESIGN DESIGN DESIGN DESIGN DESIGN DESIGN DESIGN
						DESIGN
						<span class="text-neutral-100"> DESIGN</span>
						 DESIGN DESIGN DESIGN DESIGN DESIGN
					</div>

					<div class="lg:absolute lg:left-0 lg:right-0 lg:top-0">
						<div class="grid grid-cols-1 lg:mx-32 lg:grid-cols-2 lg:gap-16">
							<!-- picture -->
							<div class="mx-auto w-full lg:mx-0 lg:mb-0 lg:mt-24 lg:max-w-xs">
								<div
									class="h-[300px] space-y-4 bg-neutral-900 bg-cover bg-center transition-all duration-300 ease-in-out hover:shadow-2xl hover:shadow-neutral-100/40 md:h-[360px] lg:h-[480px] lg:rounded-xl lg:bg-left lg:shadow-lg lg:shadow-neutral-100/30"
									style="background-image: url(/images/computer.webp)"
								>
								</div>
							</div>

							<!-- text -->
							<div class="mt-4 space-y-4 lg:mt-[260px] lg:space-y-8">
								<div class="mt-8 block px-8 lg:hidden">
									<h1>DESIGN</h1>
									<hr />
								</div>
								<div class="px-8 text-lg lg:px-0 lg:text-center">
									<p>I can design your next UI</p>
									<p>or modernize your existing one</p>
								</div>
								<div class="pt-8 lg:pt-0">
									<ul class="space-y-2 text-lg">
										<li
											class="relative ml-0 list-none bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
										>
											👉 Enhance user interactions
											<div class="stripe"></div>
										</li>
										<li
											class="relative ml-0 list-none bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
										>
											👉 Add responsiveness
											<div class="stripe"></div>
										</li>
										<li
											class="relative ml-0 list-none bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
										>
											👉 Mobile first designs
											<div class="stripe"></div>
										</li>
										<li
											class="relative ml-0 list-none bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
										>
											<em class="text-base">or, just tweak stuff</em>
											<div class="stripe"></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- develop -->
				<div class="mx-auto max-w-5xl pt-16 lg:pt-0">
					<div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-32">
						<!-- text -->
						<div>
							<div class="p-8 lg:p-0">
								<h1 class="!text-5xl lg:whitespace-nowrap lg:!text-7xl">
									<span class="font-bold text-neutral-700">://</span>
									<FancyChars text="DEVELOP" />
								</h1>
								<h2
									class="mt-2 text-xl font-bold tracking-normal text-neutral-300"
								>
									Documented. Scalable. <span class="text-yellow-400"
										>Reliable.</span
									>
								</h2>
								<hr class="mt-2" />
							</div>

							<div class="space-y-2 text-xl lg:mt-8">
								<div
									class="space-y-2 border-b border-b-neutral-700 border-l-neutral-500 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded lg:rounded-l-none lg:border-l-4"
								>
									<span class="text-xl font-bold tracking-wider">
										Javascript/Typescript, PHP
									</span>
									<span class="block text-base text-neutral-300">
										NodeJS, Express, Laravel, CodeIgniter
									</span>
								</div>
								<div
									class="space-y-2 border-b border-b-neutral-700 border-l-neutral-500 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded lg:rounded-l-none lg:border-l-4"
								>
									<span class="text-xl font-bold tracking-wider">
										Payments</span
									>
									<span class="block text-base text-neutral-300">
										via stripe</span
									>
								</div>
								<div
									class="space-y-2 border-b border-b-neutral-700 border-l-neutral-500 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded lg:rounded-l-none lg:border-l-4"
								>
									<span class="text-xl font-bold tracking-wider">
										User authentication</span
									>
									<span class="block text-base text-neutral-300">
										user/pass, socials, jwt, oauth
									</span>
								</div>
								<div
									class="space-y-2 border-b border-b-neutral-700 border-l-neutral-500 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded lg:rounded-l-none lg:border-l-4"
								>
									<span class="text-xl font-bold tracking-wider">
										UX enhancements</span
									>
									<span class="block text-base text-neutral-300">
										infiniscroll, autocomplete, filtering, etc
									</span>
								</div>
							</div>
						</div>

						<!-- image -->
						<div
							class="vignette hidden border border-neutral-800 bg-cover shadow-2xl shadow-neutral-500/10 transition-all duration-300 ease-in-out hover:shadow-neutral-500/20 lg:block"
							style="background-image: url(/images/code.webp)"
						>
						</div>
					</div>
				</div>

				<!-- interactivity -->
				<div class="mx-auto max-w-5xl pt-16 text-center lg:pt-0">
					<div class="space-y-2 lg:space-y-8">
						<div class="space-y-4">
							<hr />
							<h1 class="!text-3xl md:!text-5xl lg:!text-7xl">
								⚡
								<FancyChars text="Supercharge" />
								 ⚡
							</h1>
							<h2>
								your apps with <span class="text-yellow-400">interactivity</span
								>
							</h2>
							<hr />
						</div>
						<div class="mx-auto text-left lg:max-w-3xl">
							<div class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-8">
								<div
									class="space-y-2 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
								>
									<p class="text-xl font-bold tracking-wider">
										👉 API Connections
									</p>
									<p class="text-neutral-300">fetch, axios, trpc, graphql</p>
								</div>
								<div
									class="space-y-2 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
								>
									<p class="text-xl font-bold tracking-wider">
										👉 Database I/O
									</p>
									<p class="text-neutral-300">mysql, nosql, firebase</p>
								</div>
								<div
									class="space-y-2 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
								>
									<p class="text-xl font-bold tracking-wider">
										👉 UI/UX interactions
									</p>
									<p class="text-neutral-300">
										animations, feedback, indicators
									</p>
								</div>
								<div
									class="space-y-2 bg-neutral-900 p-6 px-8 hover:bg-neutral-800/60 lg:rounded"
								>
									<p class="text-xl font-bold tracking-wider">
										👉 CMS integration
									</p>
									<p class="text-neutral-300">forms, validation, insights</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- portfolio link -->
				<div class="pt-16 lg:pt-0">
					<div
						class="flex flex-col justify-center gap-8 text-center lg:flex-row-reverse"
					>
						<div>
							<a href="/hire-me" class="button button-dark p-4 px-8">
								<div class="flex flex-row gap-2">
									view my portfolio
									<Icon name="carbon:arrow-right" width="1.15rem" />
								</div>
							</a>
						</div>

						<div>
							<a
								href="/contact"
								class="button button-dark bg-neutral-950 p-4 px-8"
							>
								<div class="flex flex-row gap-2">
									<Icon name="carbon:email" width="1.15rem" />
									 contact me
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="pt-16 text-center lg:pt-0">
					<hr />
					<a href="/" id="btn-scroll-top" class="p-4 px-8">
						<div class="flex flex-row gap-2">back to top</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	* {
		font-family: Helvetica, sans-serif;
	}

	a:not(#btn-scroll) {
		@apply text-neutral-50 transition-colors duration-200 ease-in-out hover:!text-yellow-500 hover:!no-underline;
	}

	h1 {
		@apply text-6xl;
	}

	.button {
		@apply rounded-full bg-neutral-50 font-bold !text-neutral-950  transition-colors duration-200 ease-in-out hover:bg-neutral-800 hover:!text-yellow-500 hover:shadow-xl;
	}

	.button.button-dark {
		@apply hover:!bg-neutral-900;
	}

	.stripe {
		@apply absolute bottom-0 right-4 top-0 w-8 bg-neutral-800;
	}
</style>

<script>
	/**
	 * smoothscroll button script
	 */

	const scrollButton = document.getElementById('btn-scroll')
	const scrollTopButton = document.getElementById('btn-scroll-top')
	const target = document.getElementById('scroll-target')

	if (scrollButton && target) {
		scrollButton.addEventListener('click', (event) => {
			event.preventDefault()
			target.scrollIntoView({
				behavior: 'smooth',
			})
		})
	}

	if (scrollTopButton) {
		scrollTopButton.addEventListener('click', (event) => {
			event.preventDefault()
			window.scrollTo({
				top: 0,
				behavior: 'smooth',
			})
		})
	}
</script>
