---
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/shadcn/ui/button';
import Icon from 'astro-icon';
---

<Layout title="yo 👋">
	<!-- hero section -->
	<div class="h-[720px] flex flex-col">
		<div class="grow"></div>
		<div>
			<h1 class="text-6xl text-center mb-6">hey 👋</h1>
			<h2 class="text-xl text-center font-normal">have a look around</h2>
		</div>
		<div class="grow"></div>
	</div>

	<!-- bg color transition -->
	<div class="relative mt-[64px]">
		<div id="sell" class="bg-neutral-800">
			<!-- container -->
			<div class="max-w-6xl mx-auto p-6 py-24">
				<!-- grid items -->
				<h1 class="mb-16 text-4xl text-zinc-50">what I do</h1>
				<div id="home-grid" class="grid grid-cols-1 md:grid-cols-3 gap-8">
					<!-- Interactivity -->
					<div class="bg-neutral-900 md:col-span-2">
						<div class="p-8 px-4 md:p-16 md:pt-8">
							<p
								class="text-2xl md:text-6xl text-center md:text-left font-bold text-red-500"
							>
								Interactivity
							</p>
							<p class="mt-6 md:mt-12 text-center md:text-left text-xl">
								I help enhance web apps with...
							</p>
							<ul class="mt-6 md:mt-4 text-xl ml-4">
								<li>👉 API connections</li>
								<li>
									👉 Database I/O
									<span class="text-zinc-300 text-sm">(mysql, nosql)</span>
								</li>
								<li>👉 UI/UX interactions</li>
								<li>👉 CRM/CMS integrations</li>
							</ul>
						</div>
					</div>

					<!-- images, hidden on mobile -->
					<div class="md:contents hidden">
						<div
							class="bg-neutral-900 p-4 vignette bg-cover border-2 border-neutral-700 shadow-md"
							style="background-image: url(/images/code.webp);"
							title="image from www.unsplash.com"
						>
						</div>
						<div
							class="bg-neutral-900 p-4 md:row-span-2 vignette bg-cover border-2 border-neutral-700 shadow-md"
							style="background-image: url(/images/earth.webp);"
							title="image from www.unsplash.com"
						>
						</div>
					</div>

					<!-- Responsiveness -->
					<div class="bg-neutral-900 md:col-span-2">
						<div class="p-8 px-4 md:p-16 md:pt-8">
							<p
								class="text-2xl md:text-6xl text-center md:text-left font-bold text-green-500"
							>
								Responsiveness
							</p>
							<p class="mt-6 md:mt-12 text-center md:text-left text-xl">
								I help apps look and run great anywhere
							</p>
							<ul class="mt-6 md:mt-4 text-xl ml-4">
								<li>👉 mobile first designs</li>
								<li>👉 add responsiveness to legacy apps</li>
								<li>👉 or even just tweak things</li>
							</ul>
						</div>
					</div>

					<!-- API Dev -->
					<div class="bg-neutral-900 md:col-span-2">
						<div class="p-8 px-4 md:p-16 md:pt-8">
							<p
								class="text-2xl md:text-6xl text-center md:text-left font-bold text-fuchsia-500"
							>
								API Development
							</p>
							<p class="mt-6 md:mt-12 text-xl text-center md:text-left">
								I help build robust back ends for...
							</p>
							<ul class="mt-6 md:mt-4 text-xl ml-4">
								<li>👉 NodeJS/Typescript, PHP</li>
								<li>
									👉 Payments <span class="text-zinc-300 text-sm">
										(stripe)
									</span>
								</li>
								<li>
									👉 User authentication
									<span class="text-zinc-300 text-sm">
										(user/pass, socials, jwt, oauth)
									</span>
								</li>
								<li>
									👉 UX enhancements <span class="text-zinc-300 text-sm">
										(infinite scroll, autocomplete, filtering)
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- "My Portfolio" btn -->
				<div class="mt-24 text-center md:text-right">
					<a href="/hire-me" class="contents">
						<Button variant="dark" size="xl" fullwidth>
							my portfolio
							<Icon
								name="carbon:arrow-right"
								width="1.15rem"
								class="ml-4 pt-1"
							/>
						</Button>
					</a>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	/* add the triangular bg transition to the sell */
	#sell::before {
		content: '';
		position: absolute;
		top: -64px;
		left: 0;
		width: 0;
		height: 0;
		border-right: 100vw solid transparent;
		border-bottom: 64px solid theme(colors.neutral.800);
	}

	#home-grid > div {
		min-height: 360px;
		display: relative;
	}
</style>
