---
import BlogLinks from '@/components/Homepage/BlogLinks.astro'
import Card from '@/components/Card.astro'
import Structured from '@/layouts/Structured.astro'
import AboutMe from '@/components/Homepage/AboutMe.astro'
---

<Structured>
	<div class="space-y-4">
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<h2>/whois</h2>
				<AboutMe />
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<h2>blog</h2>
				<BlogLinks />
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<h2>lorem</h2>
				<p>
					Debitis voluptatibus, aliquam dignissimos repellendus maiores tempora
					beatae nisi eligendi libero reprehenderit similique reiciendis odit
					maxime eum quas explicabo? Minima dolorem magni quam a quaerat vel
					iste odio. Nam, laboriosam.
				</p>
			</div>
		</Card>
	</div>
</Structured>
