---
import Card from '@/components/Card.astro'
import Structured from '@/layouts/Structured.astro'
---

<Structured>
	<div class="space-y-4">
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<h1>about me</h1>
				<p>I have been building full-stack web apps since 2012 🚀</p>
				<p>
					I love strategy, FPS and roleplaying games. I've dedicated a huge
					portion of my life to honing my skills, whether it be getting better
					at my favorite games like Overwatch, or refining my technical skills.
				</p>
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi
					recusandae earum excepturi accusamus eligendi et dicta error culpa
					eius vitae quibusdam, sed atque quaerat quisquam ut corporis quis
					praesentium commodi.
				</p>
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<p>
					Debitis voluptatibus, aliquam dignissimos repellendus maiores tempora
					beatae nisi eligendi libero reprehenderit similique reiciendis odit
					maxime eum quas explicabo? Minima dolorem magni quam a quaerat vel
					iste odio. Nam, laboriosam.
				</p>
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<p>
					Reiciendis, rerum voluptate? Odit temporibus saepe reprehenderit
					itaque molestias dolore velit quaerat id. Enim pariatur dicta omnis
					praesentium nostrum minus, debitis error beatae expedita ducimus id
					quis, facilis temporibus recusandae!
				</p>
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi
					recusandae earum excepturi accusamus eligendi et dicta error culpa
					eius vitae quibusdam, sed atque quaerat quisquam ut corporis quis
					praesentium commodi.
				</p>
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<p>
					Debitis voluptatibus, aliquam dignissimos repellendus maiores tempora
					beatae nisi eligendi libero reprehenderit similique reiciendis odit
					maxime eum quas explicabo? Minima dolorem magni quam a quaerat vel
					iste odio. Nam, laboriosam.
				</p>
			</div>
		</Card>
		<Card padding="p-4 px-12">
			<div class="space-y-4">
				<p>
					Reiciendis, rerum voluptate? Odit temporibus saepe reprehenderit
					itaque molestias dolore velit quaerat id. Enim pariatur dicta omnis
					praesentium nostrum minus, debitis error beatae expedita ducimus id
					quis, facilis temporibus recusandae!
				</p>
			</div>
		</Card>
	</div>
</Structured>
