---
import clsx from 'clsx'

interface Props {
	padding?: string
	classes?: string
}

const { padding = 'p-2 px-3', classes = '' } = Astro.props
---

<div class={clsx('relative border border-neutral-ui', classes)}>
	<div class={clsx('relative', padding)}>
		<slot />
	</div>
</div>
