---
const date = new Date()
const day = String(date.getDate()).padStart(2, '0')
const month = String(date.getMonth() + 1).padStart(2, '0')
const year = date.getFullYear()

// generated at build time
const modifiedText = `${month} / ${day} / ${year}`
---

<!-- <div class="top-0 flex flex-col">
	<h2 class="mb-2 text-xl">Info</h2>
	<p>this site is designed and maintained by me,</p>
	<p>
		public sourced on <a
			href="https://www.github.com/crowdozer/mainframe"
			target="_blank"
			rel="noopener noreferrer">github</a
		>
	</p>

	<hr class="mt-2 hidden md:visible" />
</div> -->
<footer class="text-neutral-ui-highlight">
	<div class="border-t border-neutral-ui bg-neutral-dark px-4 py-2">
		<div class="flex flex-col justify-between lg:flex-row">
			<p>copyright (c) nobody</p>
			<p>last modified {modifiedText}</p>
			<p>
				built with <a href="https://astro.build/">astro</a> & <a
					href="https://tailwindcss.com/">tailwind</a
				>
			</p>
		</div>
		<p class="mt-4 text-xs">
			everything here is meant to be for entertainment or educational purposes.
			if i have used your content and you feel it does not fall under "fair use"
			contact me and i will remove it
		</p>
	</div>
</footer>
