<form id="yt-download-form" target="_blank" action="/api/ytdl" method="post">
	<input
		name="url"
		placeholder="https://www.youtube.com/watch?v=a5ITNmnS680"
		class="input w-full"
	/>
	<div class="mt-1 flex flex-row justify-end">
		<button type="submit" class="button-micro"> download</button>
	</div>
</form>
