<form id="yt-download-form" target="_blank" action="/api/ytdl" method="post">
	<input
		name="url"
		placeholder="https://www.youtube.com/watch?v=a5ITNmnS680"
		class="w-full border border-neutral-400 bg-transparent px-4 py-2"
	/>
	<div class="flex flex-row justify-end">
		<button type="submit" class="rounded px-2 hover:bg-neutral-800"
			>download</button
		>
	</div>
</form>
