---
import './styles.css'
import Card from '@/components/Card.astro'
import BlogLinks from './components/BlogLinks.astro'
import AboutMe from './components/AboutMe.astro'
import Projects from './components/Projects.astro'
import Layout from './Layout.astro'
---

<Layout>
	<Card padding="p-4 px-6">
		<div class="space-y-4">
			<h2><span class="text-green-500">{'~/ '}</span>whois crowdozer</h2>
			<AboutMe />
		</div>
	</Card>
	<div class="grid w-full grid-cols-1 gap-2 md:grid-cols-2">
		<Card padding="p-4 px-6 h-full">
			<div class="flex h-full flex-col gap-4">
				<h2><span class="text-green-500">{'~/ '}</span>blog</h2>
				<BlogLinks />
			</div>
		</Card>
		<Card padding="p-4 px-6">
			<div class="space-y-4">
				<h2><span class="text-green-500">{'~/ '}</span>projects</h2>
				<Projects />
			</div>
		</Card>
	</div>
</Layout>
