---
import BasicLayout from '@/layouts/Basic/index.astro'
import Footer from '@/components/Footer.astro'
import Card from '@/components/Card.astro'
import Chat from '@/modules/chat/Chat.astro'
import Sidebar from '@/modules/sidebar/Sidebar.astro'
import HomepageHeader from './components/HomepageHeader.astro'

interface Props {
	title?: string
}

const { title = '' } = Astro.props
---

<BasicLayout {title}>
	<div class="mx-auto max-w-[900px] bg-neutral-950/50 lg:mb-32 lg:mt-16">
		<div
			class="flex h-full flex-col border-dotted border-neutral-ui-highlight lg:border"
		>
			<HomepageHeader />

			<div class="grow">
				<div class="grid h-full w-full gap-4 p-2 lg:grid-cols-[1fr_3fr]">
					<Sidebar />

					<main class="contents">
						<div class="mb-32 space-y-4 lg:mb-0">
							<slot />

							<Card padding="p-4 px-6">
								<div class="space-y-4">
									<Chat />
								</div>
							</Card>
						</div>
					</main>
				</div>
			</div>

			<div class="mt-16">
				<Footer />
			</div>
		</div>
	</div>
</BasicLayout>
