@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

/* Base styles */
html,
body {
	@apply bg-black text-white;
	font-size: 12px;
	font-family: system-ui, sans-serif;
}

/* Flexbox fix */
* {
	min-width: 0;
	box-sizing: border-box;
}

/* 
	Everything here belongs here because 
	this allows for easier overrides 
	than selectors
 */
@layer components {
	.input {
		/* base styles */
		@apply border border-neutral-ui-highlight bg-neutral-dark px-4 py-2;
		/* hover state */
		@apply hover:border-hover-intent hover:bg-neutral-light-hover;
		/* focus state (user press) */
		@apply focus:bg-neutral-dark-highlight;
	}

	.button {
		/* base styles */
		@apply border border-neutral-ui-highlight bg-neutral-dark px-4 py-2;
		/* hover state */
		@apply hover:border-hover-intent hover:bg-neutral-light-hover;
		/* focus state */
		@apply focus:bg-neutral-dark-highlight;
		/* active state (user press) */
		@apply active:bg-neutral-dark-highlight;
	}

	.button-micro {
		/* base styles */
		@apply rounded bg-neutral-dark px-2;
		/* hover state */
		@apply hover:bg-neutral-light-hover;
		/* active state (user press) */
		@apply active:bg-neutral-dark-highlight;
	}

	/* Links */
	a {
		/* base styles */
		@apply inline-block decoration-dotted underline-offset-2;
		/* visited links */
		@apply visited:text-link-visited;
		/* various user intents */
		@apply hover:text-link focus:text-link;
		/* active state (user press) */
		@apply active:text-link-active;
	}
	a * {
		cursor: pointer;
	}

	/* Heading styling */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold text-white;
	}
	h1 {
		@apply text-6xl font-extrabold tracking-tighter;
	}
	h2 {
		@apply text-5xl font-extrabold tracking-tight;
	}
	h3 {
		@apply text-4xl;
	}
	h4 {
		@apply text-3xl;
	}
	h5 {
		@apply text-2xl;
	}
	h6 {
		@apply text-xl;
	}

	/* Dividers */
	hr {
		@apply border-neutral-300;
	}
}

/* Glimmering loading effect */
/* https://codepen.io/andru255/pen/wvBdxbb */
.glimmer {
	animation-duration: 2.2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: glimmer;
	animation-timing-function: linear;
	background: #ddd;
	background: linear-gradient(
		to right,
		theme(colors.neutral-dark) 8%,
		theme(colors.neutral-dark-highlight) 18%,
		theme(colors.neutral-dark) 33%
	);
	background-size: 1200px 100%;
}
.glimmer.glimmer-bright {
	animation-duration: 2.2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: glimmer;
	animation-timing-function: linear;
	background: #ddd;
	background: linear-gradient(
		to right,
		theme(colors.neutral-light-hover) 8%,
		theme(colors.neutral-ui) 18%,
		theme(colors.neutral-light-hover) 33%
	);
	background-size: 1200px 100%;
}
@keyframes glimmer {
	0% {
		background-position: -1200px 0;
	}
	100% {
		background-position: 1200px 0;
	}
}
