---
import { getCollection } from 'astro:content'
import EmojiList from '@c/EmojiList.astro'
import Blog from '@/layouts/Blog.astro'

// get all posts and identify unique tags
const allPosts = await getCollection('blog')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

// sort the tags
const collator = new Intl.Collator(undefined, {
	numeric: true,
	sensitivity: 'base',
})
const sortedTags = tags.sort(collator.compare)
---

<Blog title="tags">
	<div>
		<h3 class="mb-8">📂 Tag Index</h3>
		<EmojiList emoji="🔖">
			{
				sortedTags.map((tag) => (
					<li>
						<a href={`/blog/tags/${tag}`}>{tag}</a>
					</li>
				))
			}
		</EmojiList>
		<p class="mt-4 text-neutral-ui-highlight">
			Tags are automatically added to this index as they are published.
		</p>
	</div>
</Blog>
