/* Consolas */
@font-face {
	font-family: 'Consolas';
	src: url('/fonts/Consolas-Font/CONSOLAB.TTF') format('truetype');
}

:root {
	--dark: theme(colors.zinc.950);
	--dark-em: theme(colors.zinc.900);
	--dark-neutral: theme(colors.gray.950);
	--contrast: theme(colors.zinc.300);
	--contrast-em: theme(colors.zinc.100);
	--contrast-soft: theme(colors.zinc.700);
	--link: theme(colors.emerald.500);
	--link-em: theme(colors.emerald.600);
}

/* Global setup */
body {
	background: var(--dark);
	color: var(--contrast);
	font-size: 16px;
}

/* Some decorative elements */
pre {
	white-space: pre-wrap;
}
strong {
	font-weight: bold;
}

/* Style links */
a {
	display: inline-block;
	color: var(--link);
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	background: var(--link);
	color: var(--dark);
}
a::focus {
	text-decoration: none;
	background: var(--link-em);
	color: var(--dark);
}

/* Apply coloring to headers */
h1,
h2,
h3 {
	color: var(--contrast-em);
}

i.fa-fw {
	width: 1.5rem;
}

/* Apply conditional fonts to various elements */
body {
	font-family: Consolas, monospace;
}
.not-mono {
	font-family: Open Sans, arial, sans-serif;
}

/* Selection styling */
*::selection {
	background: var(--contrast);
	color: var(--dark);
}
a::selection {
	color: var(--link);
}

input::placeholder {
	color: var(--contrast-soft);
}

#nprogress .bar {
	background-color: theme(colors.emerald.600);
}

/** Animate the scanline */
@keyframes scanline {
	0% {
		bottom: 100%;
	}
	40% {
		bottom: 100%;
	}
	100% {
		bottom: 0%;
	}
}
