---
/**
 * Extends the default layout to include the flash stuff
 */

import '@/styles/globals.css';
import Container from '@/components/astro/Container.astro';
import Layout from './Layout.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script src="/ruffle/ruffle.js" is:inline></script>

<Layout title={title}>
	<Container>
		<a href="/games" class="mt-8 mb-4">go back</a>
		<slot />
	</Container>
</Layout>
