---
/**
 * Extends the default layout to include the flash stuff
 */

import '@/styles/globals.css'
import Layout from './Layout.astro'

interface Props {
	title: string
	/**
	 * Whether or not the ruffle flash emulator is needed
	 */
	flash?: boolean
}

const { title, flash = true } = Astro.props
---

{flash && <script src="/ruffle/ruffle.js" is:inline />}

<Layout {title} footer={false}>
	<div class="mx-auto mb-32 max-w-4xl p-2">
		<a href="/games" class="mb-4 mt-8 lg:mt-16">go back</a>
		<slot />
	</div>
</Layout>
