---
/**
 * Extends the default layout to include the flash stuff
 */

import '@/styles/globals.css';
import Layout from './Layout.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script src="/ruffle/ruffle.js" is:inline></script>

<Layout {title}>
	<div class="mx-auto mb-32 max-w-4xl">
		<a href="/games" class="mb-4 mt-24">go back</a>
		<slot />
	</div>
</Layout>
