---
/**
 * Extends the default layout to include the flash stuff
 */

import '@/styles/globals.css';
import Layout from './Layout.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script src="/ruffle/ruffle.js" is:inline></script>

<Layout title={title}>
	<div class="max-w-4xl mx-auto mb-32">
		<a href="/games" class="mt-24 mb-4">go back</a>
		<slot />
	</div>
</Layout>
