---
import Basic from './Basic.astro'
import Header from '@/components/LayoutHelpers/Header.astro'
import Footer from '@/components/LayoutHelpers/Footer.astro'
import Sidebar from '@/components/LayoutHelpers/Sidebar.astro'

interface Props {
	title?: string
	header?: boolean
	footer?: boolean
}

const { title = '', header = true, footer = true } = Astro.props
---

<Basic {title}>
	<!-- mobile warning -->
	<div class="contents lg:hidden" id="mobile-gate-message">
		<div class="flex h-screen w-screen flex-col justify-center">
			<div class="mx-auto max-w-xs space-y-8">
				<p>best seen on desktop</p>
				<button
					id="let-me-in"
					class="border px-4 py-2 hover:bg-neutral-300 hover:text-black active:bg-neutral-400"
					>let me in anyway</button
				>
			</div>
		</div>
	</div>

	<!-- content -->
	<div class="hidden lg:contents" id="mobile-gate-content">
		<div class="mx-auto max-w-[900px] bg-neutral-950 lg:mb-32 lg:mt-64">
			<div class="flex h-full flex-col">
				{header && <Header />}

				<div class="grow border border-t-0 border-dotted border-neutral-400">
					<div class="grid h-full w-full gap-4 p-2 lg:grid-cols-[1fr_3fr]">
						<Sidebar />
						<main class="contents">
							<slot />
						</main>
					</div>
				</div>

				{footer && <Footer />}
			</div>
		</div>
	</div>
</Basic>

<script>
	;(() => {
		const btn = document.getElementById('let-me-in')
		const con = document.getElementById('mobile-gate-content')
		const msg = document.getElementById('mobile-gate-message')

		btn?.addEventListener('click', function () {
			msg?.classList.replace('contents', 'hidden')
			con?.classList.replace('hidden', 'contents')
		})
	})()
</script>

<style>
	/** sidebar hack to get rid of scrolling on mobile */
	body:has(#sidebar[data-open='1']) {
		@apply h-full overflow-y-hidden lg:h-screen lg:overflow-y-auto;
	}
</style>
